{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "safari >= 7",
          "Explorer 11",
          "last 2 versions"
        ]
      }
    }]
  ],
  "ignore": [
    "node_modules"
  ]
}
