doctype html
html(lang="ja")
  head
    include _head.pug
  body
    main#main
      #start
        a.start-btn(href="#" style="display: none;") ちょうせん
      #game(style="display: none;")
        progress#progressBar(value="0" max="100")
        .typing-img
          img(src="")
        .typing-name
        .typing-roma
        .typing-input
      #result(style="display: none;")
        a.restart-btn(href="#" style="display: none;") もういちど
        .pokemons
        .answered
          | かいとうすう：
          span.answered-count
        .mistake
          | ミスしたかいすう：
          span.mistake-count
    script(type="text/javascript" src="js/index.js")